
<% flash.each do |type, msg| %>
  <div class="notice alert alert-info ml-4">
    <%= msg %>
  </div>
<% end %>

<h2 class="ml-4">Items Table</h2>
<br>
<%= render 'item_table', items: @items %>

<br>
<h2 class="ml-4"><%= link_to "New Item", new_item_path %></h2>


